<h1>Posts</h1>
<%# check if user is logged in. if so, show the author as well %>
<% @posts.each do |post| %>
  <h2><%= post.title %></h2>
  <p><%= post.body %></p>
  <% if user_signed_in? %>
    <p>Author: <%= post.user.email %></p>
  <% end %>
<% end %>
<% if user_signed_in? %>
  <%= link_to 'New Post', new_post_path %>
<% end %>
